# Thesis Codes  by Korkut Anapa

# Elsevier Article Codes

# A STATISTICAL MODELLING OF A DISHWASHER CLEANING CYCLE

# saving models

In [1]:
from matplotlib import pyplot
from numpy import mean
from numpy import std
from sklearn.compose import make_column_selector as selector
from sklearn.cross_decomposition import PLSRegression
from sklearn.datasets import make_regression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.feature_selection import RFE
from sklearn.linear_model import ElasticNetCV, ElasticNet
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
import numpy as np
import pandas as pd
from string import ascii_letters
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from genetic_selection import GeneticSelectionCV
import time
from xgboost import XGBRegressor
import joblib

In [2]:
df = pd.read_excel('D:/Users/ar600780/OneDrive - ARÇELİK A.Ş/Desktop/dataset_elsevier/dbso60sort.xlsx')

In [3]:
y_CPI = df['CPI']
y_DPI = df['DPI']
y_EC=df['EC']
y_T=df['T']
y_WC=df['WC']

In [10]:
cpi=['1PWTemperature', '1PWWaiting', '2MWPeriod', '2MWRPM', '3MFPeriod',
       '4CRPeriod', '4CRRPM', '4CRTop_Spray_Circulation_Period', '7RSRPM',
       '8DSRPM']
x_cpi=df[cpi]
x_cpi

,1PWTemperature,1PWWaiting,2MWPeriod,2MWRPM,3MFPeriod,4CRPeriod,4CRRPM,4CRTop_Spray_Circulation_Period,7RSRPM,8DSRPM
0,0,0,83,3000,0,10,2600,2,2800,0
1,0,0,77,3200,0,10,2600,2,2800,0
2,0,0,77,3200,0,10,2600,2,2800,0
3,53,2,70,2600,2,18,2400,4,2600,0
4,55,2,83,2600,2,16,2200,4,2600,0
...,...,...,...,...,...,...,...,...,...,...
149,0,0,67,2600,0,8,2600,0,2600,0
150,0,0,68,3000,0,10,2600,2,2600,0
151,0,0,59,2800,0,5,2800,0,2800,0
152,0,0,67,3000,0,10,2600,2,2600,0
153,0,0,74,3000,0,10,2600,2,2600,0

In [11]:
dpi=['1PWTemperature', '2MWPeriod', '2MWTop_Spray_Circulation_Period',
       '8DSClosed_Cycle_Period', '10DYFan', '10DYFan_Flap',
       '10DYExtra_Heater_Offset']
x_dpi=df[dpi]
x_dpi

,1PWTemperature,2MWPeriod,2MWTop_Spray_Circulation_Period,8DSClosed_Cycle_Period,10DYFan,10DYFan_Flap,10DYExtra_Heater_Offset
0,0,83,20.900000,0,78,0,0
1,0,77,20.023333,0,93,0,0
2,0,77,20.023333,0,93,0,0
3,53,70,14.426667,0,57,30,0
4,55,83,14.826667,0,63,29,0
...,...,...,...,...,...,...,...
149,0,67,0.000000,0,0,0,0
150,0,68,16.160000,0,73,0,0
151,0,59,0.000000,0,0,0,0
152,0,67,13.400000,0,98,37,0
153,0,74,19.900000,0,98,34,0

In [12]:
ec=['1PWCirculation_Period', '1PWTemperature', '2MWPeriod',
       '4CRLower_Spray_Circulation_Period',
       '4CRUpper_Spray_Circulation_Period', '7RSTemperature',
       '7RSLower_Spray_Circulation_Period', '10DYPeriod', '10DYWaiting',
       '10DYFan_Flap']
x_ec=df[ec]
x_ec

,1PWCirculation_Period,1PWTemperature,2MWPeriod,4CRLower_Spray_Circulation_Period,4CRUpper_Spray_Circulation_Period,7RSTemperature,7RSLower_Spray_Circulation_Period,10DYPeriod,10DYWaiting,10DYFan_Flap
0,21,0,83,2.0,4.0,48,9.0,90,10,0
1,18,0,77,2.0,4.0,53,11.0,104,10,0
2,18,0,77,2.0,4.0,53,11.0,104,10,0
3,43,53,70,4.0,6.0,56,4.5,110,50,30
4,44,55,83,3.0,5.0,53,3.5,96,30,29
...,...,...,...,...,...,...,...,...,...,...
149,20,0,67,6.0,6.0,59,24.0,103,102,0
150,16,0,68,2.0,4.0,59,12.0,94,20,0
151,6,0,59,3.0,3.0,60,11.0,124,123,0
152,16,0,67,2.0,4.0,51,8.0,109,10,37
153,21,0,74,2.0,4.0,55,6.0,109,10,34

In [13]:
wc=['1PWClosed_Cycle_Period', '1PWWaterInlet', '1PWRPM', '1PWTemperature',
       '2MWClosed_Cycle_Period', '2MWWaterInlet', '2MWRPM', '4CRPeriod',
       '4CRWaterInlet', '4CRTop_Spray_Circulation_Period',
       '7RSClosed_Cycle_Period', '7RSPeriod', '7RSRPM',
       '7RSLower_Spray_Circulation_Period', '8DSClosed_Cycle_Period',
       '10DYPeriod', '10DYExtra_Heater_Offset']
x_wc=df[wc]
x_wc

,1PWClosed_Cycle_Period,1PWWaterInlet,1PWRPM,1PWTemperature,2MWClosed_Cycle_Period,2MWWaterInlet,2MWRPM,4CRPeriod,4CRWaterInlet,4CRTop_Spray_Circulation_Period,7RSClosed_Cycle_Period,7RSPeriod,7RSRPM,7RSLower_Spray_Circulation_Period,8DSClosed_Cycle_Period,10DYPeriod,10DYExtra_Heater_Offset
0,0,4.0,2800,0,0,0.0,3000,10,2.6,2,0,22,2800,9.0,0,90,0
1,0,4.0,3000,0,0,0.0,3200,10,2.6,2,0,32,2800,11.0,0,104,0
2,0,4.0,3000,0,0,0.0,3200,10,2.6,2,0,32,2800,11.0,0,104,0
3,2,4.8,2800,53,0,0.0,2600,18,2.7,4,1,21,2600,4.5,0,110,0
4,3,4.8,2800,55,3,0.0,2600,16,2.7,4,5,23,2600,3.5,0,96,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,0,4.6,2800,0,0,0.0,2600,8,2.8,0,0,26,2600,24.0,0,103,0
150,0,4.0,2800,0,0,0.0,3000,10,2.6,2,0,28,2600,12.0,0,94,0
151,0,3.5,2800,0,0,3.2,2800,5,1.7,0,0,13,2800,11.0,0,124,0
152,0,4.0,2800,0,0,0.0,3000,10,2.6,2,0,21,2600,8.0,0,109,0
153,0,4.0,2800,0,0,0.0,3000,10,2.6,2,3,27,2600,6.0,0,109,0

In [15]:
td=['1PWPeriod', '1PWTemperature', '2MWClosed_Cycle_Period', '2MWPeriod',
       '2MWLower_Spray_Circulation_Period', '7RSPeriod', '7RSRPM',
       '8DSClosed_Cycle_Period', '10DYPeriod']
x_td=df[td]
x_td

,1PWPeriod,1PWTemperature,2MWClosed_Cycle_Period,2MWPeriod,2MWLower_Spray_Circulation_Period,7RSPeriod,7RSRPM,8DSClosed_Cycle_Period,10DYPeriod
0,24,0,0,83,34.900000,22,2800,0,90
1,21,0,0,77,24.690000,32,2800,0,104
2,21,0,0,77,26.690000,32,2800,0,104
3,48,53,0,70,34.060000,21,2600,0,110
4,49,55,3,83,36.193333,23,2600,0,96
...,...,...,...,...,...,...,...,...,...
149,23,0,0,67,67.000000,26,2600,0,103
150,19,0,0,68,28.760000,28,2600,0,94
151,8,0,0,59,57.000000,13,2800,0,124
152,19,0,0,67,29.800000,21,2600,0,109
153,24,0,0,74,28.900000,27,2600,0,109

In [19]:
model_gbr = GradientBoostingRegressor(learning_rate = 0.1, n_estimators = 100, max_depth = 4)

In [20]:
model_knn =KNeighborsRegressor(n_neighbors=3)

In [21]:
model_lr=LinearRegression()

In [38]:
X = x_cpi
y = y_CPI
model_gbr.fit(X, y)
filename = 'cpi.sav'
joblib.dump(model_gbr, filename)

cv = RepeatedKFold(n_splits=5, n_repeats=3, random_state=79)
scores1 = cross_val_score(model_gbr,X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
scores3 = cross_val_score(model_gbr,X, y, scoring='r2', cv=cv, n_jobs=-1, error_score='raise')
print(' %.3f %.0f' % (-mean(scores1),  100*mean(scores3)))

 0.045 74

In [39]:
X = x_dpi
y = y_DPI
model_gbr.fit(X, y)
filename = 'dpi.sav'
joblib.dump(model_gbr, filename)

cv = RepeatedKFold(n_splits=5, n_repeats=3, random_state=79)
scores1 = cross_val_score(model_gbr,X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
scores3 = cross_val_score(model_gbr,X, y, scoring='r2', cv=cv, n_jobs=-1, error_score='raise')
print(' %.3f %.0f' % (-mean(scores1),  100*mean(scores3)))

 2.125 84

In [40]:
X = x_ec
y = y_EC
model_knn.fit(X, y)
filename = 'ec.sav'
joblib.dump(model_knn, filename)

cv = RepeatedKFold(n_splits=5, n_repeats=3, random_state=79)
scores1 = cross_val_score(model_knn,X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
scores3 = cross_val_score(model_knn,X, y, scoring='r2', cv=cv, n_jobs=-1, error_score='raise')
print(' %.3f %.0f' % (-mean(scores1),  100*mean(scores3)))

 0.034 90

In [41]:
X = x_wc
y = y_WC
model_lr.fit(X, y)
filename = 'wc.sav'
joblib.dump(model_lr, filename)

cv = RepeatedKFold(n_splits=5, n_repeats=3, random_state=79)
scores1 = cross_val_score(model_lr,X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
scores3 = cross_val_score(model_lr,X, y, scoring='r2', cv=cv, n_jobs=-1, error_score='raise')
print(' %.3f %.0f' % (-mean(scores1),  100*mean(scores3)))

 0.361 92

In [43]:
X = x_td
y = y_T
model_lr.fit(X, y)
filename = 'td.sav'
joblib.dump(model_lr, filename)

cv = RepeatedKFold(n_splits=5, n_repeats=3, random_state=79)
scores1 = cross_val_score(model_lr,X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
scores3 = cross_val_score(model_lr,X, y, scoring='r2', cv=cv, n_jobs=-1, error_score='raise')
print(' %.3f %.0f' % (-mean(scores1),  100*mean(scores3)))

 3.013 100